table {
    display: inline-block;
}

.displaySection{
    position: fixed;
    left: 51.13%;
    top: 8px;
}

section {
    display: inline-block;
    width: 25%;
    height: 50vh;
    border: hotpink 1px solid;
}

h1 {
    padding: 10px;
    background-color: red;
}

label {
    margin: 3px;
    display: block;
}

input,
button,
select {
    margin: 3px;
    padding: 5px;
    display: block;
}